@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300&family=Roboto:wght@300&display=swap');
* {
	font-family: 'Roboto', sans-serif;
	color: #706363;
	font-weight: 600;
}

/* Reused styles */

.card-title {
	font-size: 1.2rem;
	font-weight: bold;
	color: #706363;
}

.normal-text {
	font-size: 1rem;
}

.page-title {
	font-size: 1.5rem;
	font-weight: bold;
}

.card {
	box-shadow: 0 0 2px gray;
}

.anchor {
	color: inherit;
	font-weight: bold;
	text-decoration: underline;
	font-size: 1rem;
	cursor: pointer;
}

.spinner-parent {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.336);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 9999;
}

.spinner-border {
	width: 5rem;
	height: 5rem;
}

.required::before {
	content: '*';
	color: red;
}

input {
	border-radius: 2px !important;
	border: 1px solid rgba(0, 0, 0, 0.37) !important;
	height: 40px !important;
}

.ant-picker {
	border-radius: 2px !important;
	height: 40px !important;
	border: 1px solid rgba(0, 0, 0, 0.37) !important;
}

.ant-picker-input input {
	border: none !important;
	color: black !important;
}

.primary-button {
	background-color: rgb(4, 238, 160) !important;
	border-color: rgb(4, 238, 160) !important;
	height: 40px !important;
	font-size: 16px !important;
	font-weight: 500;
}

.primary-button span {
	color: white !important;
}
/* Auth pages */

.authentication {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #04eea0;
}

.authentication-form {
	width: 400px;
}

.authentication-form input {
	height: 40px;
}

.authentication-form button {
	font-weight: 700;
	width: 100%;
}

.authentication-form .card-title {
	color: #706363;
	text-align: center;
	text-decoration: underline;
	padding: 0.5rem;
}

.loginButton{
	font-size: 20px;
	background-color: rgb(4, 238, 160) !important;
	border-color: rgb(4, 238, 160) !important;
	height: 40px !important;
	font-size: 16px !important;
	font-weight: 500;
}

.login-option{
	display: flex;
	justify-content: center;
	text-align: center;
	text-decoration: underline;
	padding: 0.5rem;
}